
<script>
  import svelteLogo from '../assets/svelte.svg';
  import gitlablogo from '../assets/gitlab-logo-500.svg'
</script>

<div class="footer">
  <div class="text-center card">
    <div class="card-body">
      <p>Powered by <a href="https://svelte.dev/"><img src={svelteLogo} width="20px" alt="Svelte logo" style="display: inline;"/> Svelte</a></p>
      <p>Jakub Senčák</p>
      <p>Mail: <a href="mailto:xsenca00@vutbr.cz">xsenca00@vutbr.cz</a></p>
      <p><a href="https://gitlab.com/jsenlas/optasense_visualization_app"><img src={gitlablogo} width="40px" alt="GitLab logo" style="display: inline;" />GitLab</a></p>
      <p>Published {new Date().getFullYear()}</p>
    </div>
  </div>
</div>

<style>
  .card {
    margin-top: 20px;
  }

</style>