<script>
    import { onMount } from "svelte";
    import { data_store, selected_channels, data_window } from '../../store'

    import {
        width,
        height,
        cellWidth,
        cellHeight,
        channel_number,
        chart_row_num,
        dataset_min,
        dataset_max,
        colormap,
        last_row_num,
        interval,
        frameID,
        colorScaleStore,
        lowBoundary,
        highBoundary
    } from '../canvas_properties';

    let canvas;
    let ctx;
    let chart_border;
    
    $: $cellWidth = $width/$channel_number, console.log("CellWidth: ", $cellWidth)

    onMount(() => {
        ctx = canvas.getContext('2d');
        chart_border = document.getElementById("chart_border");
        $width = chart_border.offsetWidth;
        $height = window.innerHeight-window.innerHeight/4;
        $channel_number = ($data_store.length != 0) ? $data_store[0].length : 1;
        $cellHeight = 10;
        $chart_row_num = ($height/$cellHeight)+1;
	});
    
    $: {
        $cellHeight;
        $chart_row_num = ($height/$cellHeight)+1
    }

    $: {
        console.log ({
            w: $width,
            h: $height,
            cW: $cellWidth,
            cH: $cellHeight
        }),
        draw()
    }
    window.addEventListener('resize', () => {
      draw()
    })
    // has to bve difined, could be random value or a Symbol() but this is sufficient

    $: {
        $last_row_num
        console.log("Lastrownumber", $last_row_num)
        draw()
    }
    $: $colormap, draw()
    $: $lowBoundary, $highBoundary, draw()

    let lastTime = window.performance.now()
    let current_time;
    let deltaTime;

    export function animate(newTime) {
        $frameID = requestAnimationFrame(animate);
        current_time = newTime;
        deltaTime = current_time - lastTime;

        if (deltaTime > $interval) {
            lastTime = current_time - (deltaTime % $interval)
            draw()
        }
    }
    $: $data_window = $data_store.slice(-$last_row_num)
    function draw() {
        let dataRow;
        let posX;
        let posY;
        
        // let data = $data_store.slice(-$last_row_num);
        // let row_number = ($data_store.length < $chart_row_num) ? $data_store.length : $chart_row_num;
        let row_number;
        if ($data_window.length < $last_row_num){
            if ($data_window.length > $chart_row_num) {
                row_number = $chart_row_num
            } else {
                row_number = $data_window.length
            }
        } else {
            row_number =  $last_row_num; // ($data_store.length < $chart_row_num) ? $data_store.length : $chart_row_num;
        }
        // console.log("rownumbr", rosw_number);
        // console.log("DATA", data);
        for (let y = 0; y < row_number; y++){
            dataRow = $data_window[y];
            posY = y * $cellHeight;
            for (let x = 0; x < dataRow.length; x++){
                posX = x * $cellWidth;
                ctx.fillStyle = getFill(dataRow[x]);
                ctx.fillRect(
                    posX,
                    posY, 
                    posX + $cellWidth,
                    $cellHeight
                );
            }
        }
    }
    
    function getFill(value) {
        return $colormap($colorScaleStore(value))  // return d3.interpolateInferno(colorScale(value));
    }
</script>

<div class="col" id="chart">
    <div class="border rounded" id="chart_border">

        <canvas id="mycanvas" bind:this={canvas} width={$width} height={$height} />
    </div>
</div>
<style>
    canvas {
        width: 99%;
        height: 99%;
        margin-left: auto;
        margin-right: auto;
    }
</style>