<script>
  import { sendMessage, open_file_simple } from "../../store";
  const reset = () => { 
    // const msg = {
    //   type: "stream",
    //   value: "reset"
    // };
    // sendMessage(msg);
    open_file_simple()
  }
</script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button type="button"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  on:click={reset}>
  <i class="material-icons">replay</i>
</button>  

<style>
</style>